# Virtual environment
DeepLearning/.venv/

# Python cache
__pycache__/
*.py[cod]

# VS Code settings
.vscode/

# YOLO model weights
yolov8n.pt

# YOLO prediction outputs
runs/

DeepLearning/Day18/project/output_videos/

DeepLearning/Project1/parking_lot_ds/